<h3>您的包裹</h3>
  <% @packages.each do |package| %>
    <div class="a">包裹名称</div>

    <tr>包裹总价</tr>
    <%= package.package_price %>
    
    <% package.orders.each do |order| %>
      <ul>商品名称</ul> <%= order.commodity.name %> <span>数量</span> <%= order.amount %> <span>总价</span> <%= order.order_price %>
    <% end %>
  <% end %>
 




      