<h3>即将发送的发货</h3>
<table>
  <tr>
    <th>商品名称</th>
    <th>收货人</th>
    <th>订购数量</th>
    <th>总价</th>
  </tr>
  <% if @package==nil %>
    <tr>该供应商无货物发送！</tr>
  <%else%>
    
      <% @package.orders.each do|order| %>
        <tr>
          <th><%= order.commodity.name %></th>
          <th><%= order.user.name%></th>
          <th><%= order.amount %></th>
          <th><%= order.order_price %></th>
        </tr>
 
    <%end%>
  <%end%>
</table>
